$color-white: #FFFFFF
$color-dark: #070A1B
$color-accent: #F402A2
$color-hover-blue: #53A1CB
$color-hover-pink: #C1A1D2
  
html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit

a
  text-decoration: none
  color: inherit

button
  background-color: transparent
  border: none
  padding: 0
  cursor: pointer

ul
  list-style: none

.body
  background-color: $color-dark
  font-family: "Roboto Condensed", serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal
  font-size: 16px
  line-height: 120%
  color: $color-white

.container
  max-width: 1220px
  margin: 0 auto
  padding: 0 10px

.header

.header__top
  display: flex
  justify-content: space-between
  align-items: center
  height: 100px

.list-contacts
  display: flex
  gap: 30px

.list-contacts__link
  display: flex
  width: 40px
  height: 40px  
  justify-content: center
  align-items: center
  border-radius: 50%
  transition: background .3s

.list-contacts__link:hover
  background-color: $color-hover-pink
